{% extends "PseudoNoticiasApp/base.html" %}

{% load static %}

{% block content %}

   <!-- Heading -->
   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'PseudoNoticiasApp/img/principal.jpg' %}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-upper">Blog de noticias</span>
            <span class="section-heading-lower">aqui compartiremos las noticas mas destacas</span>
          </h2>
          <p class="mb-3">Las noticias mas destacas del mundo esta en este portal
          </p>
         
        </div>
      </div>
    </div>
  </section>


  
    <!-- Message -->
    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">agrandemos nuestra comunidad</span>
                <span class="section-heading-lower">OPERADORES LOGICOS</span>
              </h2>
              <p class="mb-0">tenemos una trayectoria que nos avala.. somos la blog que cuenta con mas experiencia en el mundo</p>
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock %}