{% extends "PseudoNoticiasApp/base.html" %}

{% load static %}

{% block content %}
<div class="contenedorFormulario">
	<div class="section-title text-center wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
			<br>
	        <h1>Quienes somos..</h1><br>
	        <h2>te contamos nuestra trayectoria</h2><br>
	        <p>Creamos este espacio para que podamos compartir noticias de cualquier categoria, solo necesitas hacerte una cuenta en nuestro blog y podras empezar a redactar tus noticias.</p>
	</div><br>
</div>
{% endblock %}